<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaxFashion</title>
    <!-- this is for tailwind css -->
    <link rel="stylesheet" href="./../../style.css">
    <!-- This one is for iconify(icons)  -->
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script> 
    
</head>
<body>
    <nav class="">
        <!-- navbar upper-black part -->
        <div class="bg-black p-2 text-white ">   
            <div class="pl-7 font-semibold  inline-flex gap-4">
                <span class="flex gap-2 cursor-pointer">
                    <div style="font-size: 24px;">
                        <span class="iconify" data-icon="ic:outline-local-shipping"></span>
                    </div>
                    <div class="pr-7 cursor-pointer">Free Shipping</div>
                </span>
                <span class="flex gap-2 cursor-pointer">
                    <div style="font-size: 24px;">
                        <span class="iconify" data-icon="bx:bx-store"></span>
                    </div>
                    <div class="pr-7 cursor-pointer">Return To Store</div>
                </span>
                <span class="flex gap-2 cursor-pointer">
                    <div style="font-size: 20px;">
                        <span class="iconify" data-icon="fontisto:shopping-store"></span>
                    </div>
                    <div class="pr-7 cursor-pointer">Click & Collect</div>
                </span>
            </div>
            <div class="flex float-right text-sm pr-7">
                <div class=" cursor-pointer">Download Our Apps</div>
                <div style="border-left:2px solid grey;" class="mx-4"></div>
                <div class="cursor-pointer">Store Locator</div>
                <div style="border-left:2px solid grey;" class="mx-4"></div>
                <div class="cursor-pointer">Help</div>
            </div>
        </div>
        <!-- navbar lower part -->
        <div class="bg-gray-100 p-3 font-semibold">
            <div class="pl-6 inline-flex w-3/4">
                
                <div class="pt-3 w-25 mr-3 cursor-pointer">
                    <a href="./../../index.html" target="_self"><img src="./../icons/logo.png" alt="" class=""></a>
                </div>

                <div class="pr-7 pt-2 cursor-pointer">
                    <a href="MaxWomen.html" target="_blank">Women</a>
                </div>
                
                <div class="pr-7 pt-2 cursor-pointer">
                    <a href="MaxMen.html" target="_blank">Men</a>
                </div>

                <div class="pr-7 pt-2 cursor-pointer">
                    <a href="MaxGirls.html" target="_blank">Girls</a>
                </div>

                <div class="pr-7 pt-2 cursor-pointer">
                    <a href="MaxBoys.html" target="_blank">Boys</a>
                </div>
                <input type="text" placeholder="What are you looking for? " class="max-w-lg min-w-lg container pl-4 h-10 bg-gray-200">
            </div>
            <div class="flex float-right">
                <div class="pr-7 pt-2 cursor-pointer hover:text-blue-800">
                    <a href="sign.html" target="_self">Sign Up - Sign In</a>
                </div>
                <div class=""></div>
                <div class="pr-6 pt-2 cursor-pointer flex gap-2">Basket
                    <span class="iconify" data-icon="entypo:shopping-basket" style="font-size: 22px;"></span>
                </div>
            </div>
        </div>
    </nav>

    <!--main body start -->
    
    <div class="bg-indigo-600 text-center text-white">
        <p class="py-2 font-semibold">App Exclusive Offer. Flat 500&#8377 Off on 2499&#8377. Code:APP500 &#8594</p>
    </div>

    <div class="px-16" id=main_body>
        <!-- Shop By Celcius -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Shop By &#176C
            </h2>
            <div class="flex gap-4">
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock15One-Boys-26Oct2021.jpg" alt="">
                </div>
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock15Two-Boys-26Oct2021.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="py-5">
            <hr>
        </div>
        <!-- Shop By Category -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Shop By Category
            </h2>
            <div class="grid grid-cols-6 gap-4">
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-1-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Sweatshirts</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-2-Desktop-Men-26Oct20211.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Sweaters</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-3-Desktop-Menn-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Jackets</p>
                </div class="cursor-pointer">
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-4-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Tees & Polos</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-5-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Shirts</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-6-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Bottoms</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-7-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Indianwear</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-8-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Activewear</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-9-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Loungewear</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-10-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Innerwear</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-11-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Footwear</p>
                </div>
                <div class="cursor-pointer">
                    <img src="https://lmsin.net/cdn-cgi/image/w=288,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/PC-A-12-Desktop-Men-26Oct2021.jpg" alt="">
                    <p class="text-center text-xl font-semibold">Accessories</p>
                </div>
            </div>
        </div>

        <div class="py-5">
            <hr>
        </div>
        <!-- Season's Best Finds -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Season's Best Finds
            </h2>
            <div class="flex gap-4">
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock18One-Men-26Oct2021.jpg" alt="">
                </div>
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock18Two-Men-26Oct2021.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="py-5">
            <hr>
        </div>

        <!-- Budget Zone -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Budget Zone
            </h2>
            <div class="flex gap-4">
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=500,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock19One-Boys-26Oct2021.jpg" alt="">
                </div>
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=500,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock19Two-Boys-26Oct2021.jpg" alt="">
                </div>
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=500,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock19Three-Boys-26Oct2021.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="py-5">
            <hr>
        </div>
        <!-- Trends Alert -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Trends Alert
            </h2>
            <div>
                <a href="" target="_blank">
                    <img src="https://lmsin.net/cdn-cgi/image/w=1232,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-10modularblock-oneBythree-A-Men-26Oct2021.jpg" alt="">
                </a>
            </div>
        </div>


        <div class="py-5">
            <hr>
        </div>

        <!-- Back To Work -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Back To Work
            </h2>
            <div>
                <a href="" target="_blank">
                    <img src="https://lmsin.net/cdn-cgi/image/w=1232,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-11modularblock-oneBythree-A-Mens-26Oct2021.jpg" alt="">
                </a>
            </div>
        </div>


        <div class="py-5">
            <hr>
        </div>
        

        <!-- Essentials Corners -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Essentials Corners
            </h2>
            <div class="flex gap-4">
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-modularblock-oneBytwo1A-Men-26Oct2021.jpg" alt="">
                </div>
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-modularblock-oneBytwo1B-Mens-26Oct2021.jpg" alt="">
                </div>
            </div>
            <div class="pt-12 pb-16">
                <hr>
            </div>

            <div class="flex gap-4">
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-modularblock7-oneBythree-A-Men-26Oct2021.jpg" alt="">
                </div>
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-modularblock7-oneBythree-B-Menn-26Oct2021.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="py-5">
            <hr>
        </div>
        <!-- Winter Must Have -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Winter Must Have
            </h2>
            <div class="cursor-pointer">
                <a href="" target="_blank">
                    <img src="https://lmsin.net/cdn-cgi/image/w=1232,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock16One-Men-26Oct2021.jpg" alt="">
                </a>
            </div>
        </div>

        <div class="py-5">
            <hr>
        </div>
        <!-- Max Loves -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Max Loves
            </h2>
            <div>
                <a href="" target="_blank">
                    <img src="https://lmsin.net/cdn-cgi/image/w=1232,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock13One-Men-26Oct2021.jpg" alt="">
                </a>
            </div>
        </div>
        

        <div class="py-5">
            <hr>
        </div>
        <!-- Online Exclusive -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Online Exclusive
            </h2>
            <div>
                <a href="" target="_blank">
                    <img src="https://lmsin.net/cdn-cgi/image/w=1232,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-modularblock-oneBythree-A-Common-02Nov2021.jpg" alt="">
                </a>
            </div>
        </div>


        <div class="py-5">
            <hr>
        </div>
        <!-- The Shirts Shop -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                The Shirts Shop
            </h2>
            <div>
                <a href="" target="_blank">
                    <img src="https://lmsin.net/cdn-cgi/image/w=1232,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/department-modularblock-oneBythree-A-Men-26Oct2021.jpg" alt="">
                </a>
            </div>
        </div>


        <div class="py-5">
            <hr>
        </div>
        <!-- Shades Of Winter -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Shades Of Winter
            </h2>
            <div class="flex gap-4">
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock17One-Men-26Oct2021.jpg" alt="">
                </div>
                
                <div class="cursor-pointer">
                    <a href="" target="_blank"></a>
                    <img src="https://lmsin.net/cdn-cgi/image/w=616,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock17Two-Men-26Oct2021.jpg" alt="">
                </div>
            </div>
        </div>

        
        <div class="py-5">
            <hr>
        </div>
        <!-- Gifting Zone  -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Gifting Zone
            </h2>
            <div>
                <a href="https://www.woohoo.in/max-online-e-gift-instant-voucher" target="_blank">
                    <img src="https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-modularblock14One-Boys-26Oct2021.jpg" alt="">
                </a>
            </div>
        </div>
        
        
        <div class="py-5">
            <hr>
        </div>
        <!-- connect with us -->
        <div class="pt-16 pb-8">
            <h2 class="text-4xl pb-5">
                Connect With Us
            </h2>
            <div>
                <a href="https://api.whatsapp.com/send?phone=916366874274&amp;text=I%20would%20like%20to%20sign-up%20to%20receive%20updates%20from%20Max%20Fashion" target="_blank">
                    <img src="https://lmsin.net/cdn-cgi/image/w=1232,q=60,fit=cover/https://70415bb9924dca896de0-34a37044c62e41b40b39fcedAD8AF927.lmsin.net/MAX-Friday/MAX2.O/desktop-department-modularblock8-oneBythree-A-Women-21Oct2020.jpg" alt="">
                </a>
            </div>
        </div>


    </div>

    <!--main body end -->
    
    <footer class="pt-5">
        <hr>
        <!-- upper footer -->
        <div class="p-16 flex">
            <div class="float-left">
                <div class="font-bold text-2xl">Subscribe to our awesome emails.</div>
                <p class="text-gray-500 pt-2">Get our latest offers and news straight in your inbox.</p>
                <div class="flex container pt-10 container ">
                    <input type="text" name="" placeholder="Please enter an email address " class="bg-gray-100 py-4 pl-4 pr-36">
                    <div class="bg-black text-white px-10 py-4 cursor-pointer">Subscribe</div>
                </div>    
            </div>

            <div>
                <div class="float-right pl-52 ">
                    <div class="font-bold text-2xl">Download our apps</div>
                    <p class="text-gray-500 pt-2">Shop our products and offers on-the-go.</p>
                    <div class="flex container pt-10 container gap-8">
                        <div>
                            <a href="https://apps.apple.com/us/app/max-fashion/id1180884624?ls=1" target="_blank">
                                <img src="./../icons/app_store.png" alt="" class="cursor-pointer">
                            </a>
                        </div>
                        <div>
                            <a href="https://play.google.com/store/apps/details?id=com.applications.max" target="_blank">
                                <img src="./../icons/google_play.png" alt="" class="cursor-pointer">
                            </a>
                        </div>
                    </div>    
                </div>              
            </div>
        </div>

        <!-- second footer -->
        <div class="px-16 pb-12">
            <hr>
            <div class="pt-12 grid grid-cols-5">
                <div>
                    <div class="font-bold pb-3">Women</div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Tops</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Dresses & Jumpsuits</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Sportswear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Bottoms</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Winterwear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Ethnicwear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Lingerie</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Sleepwear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Accessories</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/WomenData.html" target="_self">Shoes</a></span></div>
                </div>
                <div>
                    <div class="font-bold pb-3">Men</div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/MenData.html" target="_self">Tops</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/MenData.html" target="_self">Bottoms</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/MenData.html" target="_self">Sportswear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/MenData.html" target="_self">Winterwear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/MenData.html" target="_self">Accessories</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/MenData.html" target="_self">Shoes</a></span></div>
                </div>
                <div>
                    <div class="font-bold pb-3">Boys</div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/BoysData.html" target="_self">Tops</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/BoysData.html" target="_self">Bottoms</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/BoysData.html" target="_self">Indian Wear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/BoysData.html" target="_self">Winter Wear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/BoysData.html" target="_self">Essentials</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/BoysData.html" target="_self">Accessories</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/BoysData.html" target="_self">Shoes</a></span></div>
                </div>
                <div>
                    <div class="font-bold pb-3">Girls</div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/GirlsData.html" target="_self">Tops</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/GirlsData.html" target="_self">Bottoms</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/GirlsData.html" target="_self">Indian Wear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/GirlsData.html" target="_self">Winter Wear</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/GirlsData.html" target="_self">Essentials</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/GirlsData.html" target="_self">Accessories</a></span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer"><a href="./../data/GirlsData.html" target="_self">Shoes</a></span></div>
                </div>

                <div>
                    <div class="font-bold pb-3">Explore</div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Offers</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Magazins</span></div>
                </div>

                <div>
                    <div class="font-bold pb-3 pt-12">About</div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">About us</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Write to us</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Careers</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Take a Tour</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Blogs</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Store Locator</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Landmark Cares</span></div>
                </div>

                <div>
                    <div class="font-bold pb-3 pt-12">Help</div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Contact us</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Shipping</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Return Process</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Return Policy</span></div>
                    <div class="py-1 text-gray-500"><span class="cursor-pointer">Help Center</span></div>
                </div>
            </div>        
        </div>
         
        <div class="px-16">
            <hr>
        </div>
        <!-- second last footer -->

        <div class="px-16 grid grid-cols-7">

            <div class="flex col-start-1 col-span-5">
                <div class="w-52 cursor-pointer my-5 mr-8" >
                    <div class="float-left rounded-full border-2 border-gray-200 p-3 mr-3" style="font-size: 24px" aria-hidden="true">
                        <span class="iconify"data-icon="clarity:phone-handset-solid"></span>
                    </div>
                    <div class="">
                        <p class="text-gray-400">Talk to us</p> 
                        <p>1800-123-1444</p> 
                    </div>
                </div>

                <div class="w-56 cursor-pointer my-5 mr-8">
                    <div class="float-left rounded-full border-2 border-gray-200 p-3 mr-3" style="font-size: 24px" aria-hidden="true">
                        <span class="iconify"data-icon="bi:question-square-fill"></span>
                    </div>
                    <div class="">
                        <p class="text-gray-400">Helpcentre</p> 
                        <p>help.maxfashion.com</p> 
                    </div>
                </div>

                <div class="w-64 cursor-pointer my-5">
                    <div class="float-left rounded-full border-2 border-gray-200 p-3 mr-3" style="font-size: 24px" aria-hidden="true">
                        <span class="iconify"data-icon="clarity:email-solid"></span>
                    </div>
                    <div class="">
                        <p class="text-gray-400">Write to us</p> 
                        <p>help.in@maxfashion.com</p> 
                    </div>
                </div>                
            </div>

            <div class="flex my-7 col-start-7 ml-7">
                <div class="hover:bg-gray-200 p-2 rounded-full mr-3 cursor-pointer">
                    <a href="https://www.facebook.com/maxfashions" target="_blank">
                        <span class="iconify" data-icon="bx:bxl-facebook" style="font-size: 24px;"></span>
                    </a>
                </div>
                <div class="hover:bg-gray-200 p-2 rounded-full mr-3 cursor-pointer">
                    <a href="https://twitter.com/@maxfashionindia" target="_blank">
                        <span class="iconify" data-icon="bx:bxl-twitter" style="font-size: 24px;"></span>
                    </a>
                    
                </div>
                <div class="hover:bg-gray-200 p-2 rounded-full cursor-pointer">
                    <a href="https://www.instagram.com/maxfashionindia/" target="_blank">
                        <span class="iconify" data-icon="akar-icons:instagram-fill" style="font-size: 24px;"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="px-16"><hr></div>
        <!-- last footer -->
        <div class="px-16 flex">
            <div class="py-8 ">
                <img src="./../icons/logo.png" alt="" class="">
            </div>
            <div class="py-6 ml-6 text-gray-400">
                <p>&#169 2021 Retail World Limited.</p>
                <p><a href="" class="hover:text-blue-800">Terms & Conditions</a> - <a href="" class="hover:text-blue-800">Privacy Policy</a></p>
            </div>
        </div>


    </footer>


</body>
</html>